{% extends "travel/layout.html" %}
{% load static %}
{% block body %}

<div class="content">
  <center><img class="mapheader" src="{% static 'travel/mapheader.png' %}"></center>
  <form action="/search" method="post">{% csrf_token %}
    <div id="map"></div>
  </form>

    <!-- 
     The `defer` attribute causes the callback to execute after the full HTML
     document has been parsed. For non-blocking uses, avoiding race conditions,
     and consistent behavior across browsers, consider loading using Promises
     with https://www.npmjs.com/package/@googlemaps/js-api-loader.
    -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=YOURAPIKEY&callback=initMap&v=weekly"
      defer
    ></script>
    <script src="{% static 'travel/index.js' %}"></script>
</div>

{% endblock %}
